---
http_interactions:
- request:
    method: get
    uri: https://api.postcodes.io/postcodes?format=json&lat=53.341446&lon=-2.21541
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e59-m4BNszmJtAqqk82kHHUi9w"
      X-Gnu:
      - Michael J Blanchard
    body:
      encoding: UTF-8
      string: '{"status":200,"result":[{"postcode":"SK9 3UJ","quality":1,"eastings":385755,"northings":382749,"country":"England","nhs_ha":"North
        West","longitude":-2.21541062979982,"latitude":53.3414493213232,"parliamentary_constituency":"Tatton","european_electoral_region":"North
        West","primary_care_trust":"Central and Eastern Cheshire","region":"North
        West","lsoa":"Cheshire East 004F","msoa":"Cheshire East 004","incode":"3UJ","outcode":"SK9","distance":0.372011655,"admin_district":"Cheshire
        East","parish":"Wilmslow","admin_county":null,"admin_ward":"Handforth","ccg":"NHS
        Eastern Cheshire","nuts":"Cheshire East","codes":{"admin_district":"E06000049","admin_county":"E99999999","admin_ward":"E05008629","parish":"E04012173","ccg":"E38000056","nuts":"UKD62"}},{"postcode":"SK9
        3UH","quality":1,"eastings":385820,"northings":382757,"country":"England","nhs_ha":"North
        West","longitude":-2.21443475341387,"latitude":53.3415229886927,"parliamentary_constituency":"Tatton","european_electoral_region":"North
        West","primary_care_trust":"Central and Eastern Cheshire","region":"North
        West","lsoa"[...]
